Input/Schemas/2022v5.0/Shared/Dependencies/SchedulesK2K3Section743bBasisAdjustmentsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Income Return - Schedules K2 K3 Section 743b Basis Adjustments Statement</Description>
			<Purpose>Report the total of all shares of the net positive or negative income adjustment resulting from all section 743(b) basis adjustments. Attach a statement showing each section 743(b) basis adjustment making up the total and identify the assets to which it relates and the separate category and source of the income generated by the assets. Make sure to include the class of gross income or deduction, for example, sales income, interest income, or depreciation deduction.</Purpose>
			<TaxYear>2022</TaxYear>
			<MaturityLevel>R10.6 MD1</MaturityLevel>
			<ReleaseDate>February 9, 2023</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- ================================================================================ -->
	<!-- =========== Schedules K2 K3 Section 743b Basis Adjustments Statement =========== -->
	<!-- ================================================================================ -->

	<xsd:element name="SchK2K3Sect743bBasisAdjStmt">
		<xsd:annotation>
			<xsd:documentation>Schedules K2 K3 Section 743b Basis Adjustments Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SchK2K3Sect743bBasisAdjStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SchedulesK2K3Section743bBasisAdjustmentsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="SchK2K3Sect743bBasisAdjStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedules K2 K3 Section 743b Basis Adjustments Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Partnership EIN -->
			<xsd:element name="PartnershipEIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Name of partnership -->
			<xsd:element name="PartnershipName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of partnership</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<xsd:choice minOccurs="0">
				<!-- Partner EIN -->
				<xsd:element name="PartnerEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partner EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Partner SSN -->
				<xsd:element name="PartnerSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partner SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>
			
			<xsd:choice minOccurs="0">
				<!-- Name of partner -->
				<xsd:element name="PartnerName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of partner</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Name of partner person -->
				<xsd:element name="PartnerPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of partner person</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Other deductions -->
			<xsd:element name="Section743bIncomeAdjustmentGrp" type="Section743bIncomeAdjustmentGrpType" minOccurs="0" maxOccurs="2">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other deductions</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>			
	</xsd:complexType>
	
	<!-- Type for Section743bIncomeAdjustmentGrp -->
	<xsd:complexType name="Section743bIncomeAdjustmentGrpType">
		<xsd:sequence>

			<xsd:choice minOccurs="0">
				<!-- Section 743(b) positive income adjustment -->
				<xsd:element name="Sect743bPositiveIncmAdjInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Section 743(b) positive income adjustment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Section 743(b) negative income adjustment -->
				<xsd:element name="Sect743bNegativeIncmAdjInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Section 743(b) negative income adjustment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Income Basis Adjustment -->
			<xsd:element name="IncomeBasisAdjustmentGrp" type="IncomeBasisAdjustmentGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income Basis Adjustment</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
			
	<!-- Type for IncomeBasisAdjustmentGrp -->
	<xsd:complexType name="IncomeBasisAdjustmentGrpType">			
		<xsd:sequence>
				
			<!-- Asset Description -->
			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Asset Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Category of Income -->
			<xsd:element name="SeparateCategoryCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Category of Income</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="901j"/>
						<xsd:enumeration value="OTH"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Source of Income -->
			<xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Source of Income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Class of Gross Income or Deduction -->
			<xsd:element name="ClassOfGrossIncomeOrDedTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Class of Gross Income or Deduction</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Adjustment Amount -->
			<xsd:element name="AdjustmentAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjustment Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
		
</xsd:schema>
