Input/Schemas/2022v5.0/Shared/Dependencies/SchedulesK2K31118ScheduleIStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Income Return - Schedules K2 K3 1118 Schedule I Statement</Description>
			<Purpose>Attach a completed Schedule I (Form 1118) to the Schedule K-2 and Schedule K-3. The partnership need not complete Form 1118, Schedule I, Part I, column 13; Part II, lines 2 through 4; or Part III, lines 1 and 3. The partnership must attach Schedule I (Form 1118) even if there are no corporate partners because the limitation applies to individuals eligible to claim a foreign tax credit. 
Note. The partnership attaches a partially completed Schedule I (Form 1118), so that the partner has the information it needs. The partnership is not attaching Schedule I (Form 1118), as a form required to be filed by the partnership for purposes of the partnership determining creditable taxes because a partnership cannot claim a foreign tax credit.</Purpose>
			<TaxYear>2022</TaxYear>
			<MaturityLevel>R10.6 MD1</MaturityLevel>
			<ReleaseDate>February 9, 2023</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- ============ Schedules K2 K3 1118 Schedule I Statement =========== -->
	<!-- ================================================================== -->

	<xsd:element name="SchedulesK2K31118ScheduleIStmt">
		<xsd:annotation>
			<xsd:documentation>Schedules K2 K3 1118 Schedule I Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SchedulesK2K31118ScheduleIStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SchedulesK2K31118ScheduleIStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="SchedulesK2K31118ScheduleIStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedules K2 K3 1118 Schedule I Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Separate category code -->
			<xsd:element name="SeparateCategoryCd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Separate category code</Description>
						<LineNumber>a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:enumeration value="PAS"/>
						<xsd:enumeration value="GEN"/>
						<xsd:enumeration value="901j"/>
						<xsd:enumeration value="951A"/>
						<xsd:enumeration value="FB"/>
						<xsd:enumeration value="RBT PAS"/>
						<xsd:enumeration value="RBT GEN"/>
						<xsd:enumeration value="RBT FB"/>
						<xsd:enumeration value="RBT 951A"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Sanctioned country code -->
			<xsd:element name="SanctionedCountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sanctioned country code</Description>
						<LineNumber>b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Treaty country code -->
			<xsd:element name="TreatyCountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Treaty country code</Description>
						<LineNumber>c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I  Combined Foreign Oil and Gas Income and Taxes -->

			<!-- Foreign Oil and Gas Income and Taxes -->
			<xsd:element name="ForeignOilAndGasIncomeTaxes" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Oil and Gas Income and Taxes</Description>
						<LineNumber>Schedule I Part I, Columns 1(a), 1(b) and 2 - 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Row identifier letter(s) -->
						<xsd:element name="RowId">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Row identifier letter(s)</Description>
									<LineNumber>Schedule I Part I identifier column</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="3"/>
									<xsd:pattern value="[A-Z]+"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<xsd:choice minOccurs="0">
							<!-- Foreign corporation EIN -->
							<xsd:element name="ForeignCorporationEIN" type="EINType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign corporation EIN</Description>
										<LineNumber>Schedule I Part I Column 1(a) (A-F)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Foreign entity identification group -->
							<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" maxOccurs="unbounded">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign entity identification group</Description>
										<LineNumber>Schedule I Part I Column 1(a) (A-F)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<xsd:choice minOccurs="0">
							<!-- Foreign country or U.S. possession code -->
							<xsd:element name="ForeignCountryOrUSPossessionCd" type="CountryType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign country or U.S. possession code</Description>
										<LineNumber>Schedule I Part I Column 1(b) (A-F)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- Foreign country or U.S. possession code "863 (b)" -->
							<xsd:element name="Section863bIncomeCd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Foreign country or U.S. possession code "863 (b)"</Description>
										<LineNumber>Schedule I Part I Column 1(b) (A-F)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:simpleType>
									<xsd:restriction base="TextType">
										<xsd:enumeration value="863(B)"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:element>
						</xsd:choice>

						<!-- Gross foreign oil and gas extraction income -->
						<xsd:element name="GroFrgnOilGasExtractionIncmAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross foreign oil and gas extraction income</Description>
									<LineNumber>Schedule I Part I Column 2 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross foreign oil related income -->
						<xsd:element name="GroForeignOilRelatedIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross foreign oil related income</Description>
									<LineNumber>Schedule I Part I Column 3 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Inclusions under section 951(a)(1) and section 951A -->
						<xsd:element name="InclusionsSect951a1Or951AAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Inclusions under section 951(a)(1) and section 951A</Description>
									<LineNumber>Schedule I Part I Column 4 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other gross oil and gas extraction income -->
						<xsd:element name="OtherGrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other gross oil and gas extraction income</Description>
									<LineNumber>Schedule I Part I Column 5 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross oil and gas extraction income total - Sum of columns 2 through 5 -->
						<xsd:element name="TotalGrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross oil and gas extraction income total - Sum of columns 2 through 5</Description>
									<LineNumber>Schedule I Part I Column 6 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Allocable deductions -->
						<xsd:element name="DefinitelyAllocableDedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Allocable deductions</Description>
									<LineNumber>Schedule I Part I Column 7 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Apportioned deductions -->
						<xsd:element name="ApportionedShareDeductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Apportioned deductions</Description>
									<LineNumber>Schedule I Part I Column 8 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total deductions - sum of columns 7 and 8 -->
						<xsd:element name="TotalAllocableDeductionsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total deductions - sum of columns 7 and 8</Description>
									<LineNumber>Schedule I Part I Column 9 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Taxable income - column 6 minus 9 -->
						<xsd:element name="TaxableIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Taxable income - column 6 minus 9</Description>
									<LineNumber>Schedule I Part I Column 10 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Oil and gas extraction taxes - Paid or accrued -->
						<xsd:element name="OilGasExtractionTxsPaidAccrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Oil and gas extraction taxes - Paid or accrued</Description>
									<LineNumber>Schedule I Part I Column 11 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total oil and gas extraction taxes - Sum of columns 11 and 12 -->
						<xsd:element name="TotalOilGasExtractionTaxesAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total oil and gas extraction taxes - Sum of columns 11 and 12</Description>
									<LineNumber>Schedule I Part I Column 13 (A-F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Totals. Schedule I Part I Columns 2 - 6 -->
			<xsd:element name="TotForeignOilAndGasIncomeTaxes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Totals. Schedule I Part I Columns 2 - 6</Description>
						<LineNumber>Schedule I Part I, Totals, Columns 2 - 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Gross foreign oil and gas extraction income -->
						<xsd:element name="GroFrgnOilGasExtractionIncmAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross foreign oil and gas extraction income</Description>
									<LineNumber>Schedule I Part I Column 2 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross foreign oil related income -->
						<xsd:element name="GroForeignOilRelatedIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross foreign oil related income</Description>
									<LineNumber>Schedule I Part I Column 3 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Inclusions under section 951(a)(1) and section 951A -->
						<xsd:element name="InclusionsSect951a1Or951AAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Inclusions under section 951(a)(1) and section 951A</Description>
									<LineNumber>Schedule I Part I Column 4 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other gross oil and gas extraction income -->
						<xsd:element name="OtherGrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other gross oil and gas extraction income</Description>
									<LineNumber>Schedule I Part I Column 5 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross oil and gas extraction income total - Sum of columns 2 through 5 -->
						<xsd:element name="TotalGrossIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross oil and gas extraction income total - Sum of columns 2 through 5</Description>
									<LineNumber>Schedule I Part I Column 6 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Totals. Schedule I Part I Columns 7 - 13 -->
			<xsd:element name="TotalsFrgnOilGasExtAndDedTaxes" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Totals. Schedule I Part I Columns 7 - 13</Description>
						<LineNumber>Schedule I Part I, Totals, Columns 7 - 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Allocable deductions -->
						<xsd:element name="DefinitelyAllocableDedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Allocable deductions</Description>
									<LineNumber>Schedule I Part I Column 7 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Apportioned deductions -->
						<xsd:element name="ApportionedShareDeductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Apportioned deductions</Description>
									<LineNumber>Schedule I Part I Column 8 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total deductions - sum of columns 7 and 8 -->
						<xsd:element name="TotalAllocableDeductionsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total deductions - sum of columns 7 and 8</Description>
									<LineNumber>Schedule I Part I Column 9 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Taxable income - column 6 minus 9 -->
						<xsd:element name="TaxableIncomeAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Taxable income - column 6 minus 9</Description>
									<LineNumber>Schedule I Part I Column 10 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Oil and gas extraction taxes - Paid or accrued -->
						<xsd:element name="OilGasExtractionTxsPaidAccrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Oil and gas extraction taxes - Paid or accrued</Description>
									<LineNumber>Schedule I Part I Column 11 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Oil and gas extraction taxes - Deemed Paid -->
						<xsd:element name="TotalOilGasExtractionTaxesAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Oil and gas extraction taxes - Deemed Paid</Description>
									<LineNumber>Schedule I Part I Column 13 (Total)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part II  Reduction Under Section 907(a) -->

			<!-- Combined foreign oil and gas income -->
			<xsd:element name="CombForeignOilAndGasIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Combined foreign oil and gas income</Description>
						<LineNumber>Schedule I Part II Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III  Foreign Oil and Gas Taxes Available For Use in the Current Tax Year -->

			<!-- Enter the sum of any carryover -->
			<xsd:element name="TotCYCarryoverFrgnOilAndTxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the sum of any carryover</Description>
						<LineNumber>Schedule I Part III Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
