Input/Schemas/2022v5.0/Shared/Dependencies/SchedulesK2K3HighTaxedIncomeSchedules1And2Statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Income Return - Schedules K2 K3 High Taxed Income Schedules 1 And 2 Statement</Description>
			<Purpose>High Taxed Income. Complete if passive income is present.</Purpose>
			<TaxYear>2022</TaxYear>
			<MaturityLevel>R10.6 MD1</MaturityLevel>
			<ReleaseDate>February 9, 2023</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../Common/efileTypes.xsd"/>

	<!-- ======================================================================================= -->
	<!-- ============ Schedules K2 K3 High Taxed Income Schedules 1 And 2 Statement ============ -->
	<!-- ======================================================================================= -->

	<xsd:element name="SchK2K3HighTxdIncmSch1And2Stmt">
		<xsd:annotation>
			<xsd:documentation>Schedules K2 K3 High Taxed Income Schedules 1 And 2 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SchK2K3HighTxdIncmSch1And2StmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SchedulesK2K3HighTaxedIncomeSchedules1And2Statement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="SchK2K3HighTxdIncmSch1And2StmtType">
		<xsd:annotation>
			<xsd:documentation>Schedules K2 K3 High Taxed Income Schedules 1 And 2 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:choice minOccurs="0">
				<xsd:sequence>

					<!-- Partnership EIN -->
					<xsd:element name="PartnershipEIN" type="EINType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Partnership EIN</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Name of partnership -->
					<xsd:element name="PartnershipName" type="BusinessNameType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Name of partnership</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:choice minOccurs="0">
						<!-- Partner EIN -->
						<xsd:element name="PartnerEIN" type="EINType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Partner EIN</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Partner SSN -->
						<xsd:element name="PartnerSSN" type="SSNType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Partner SSN</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>

					<xsd:choice minOccurs="0">
						<!-- Name of partner -->
						<xsd:element name="PartnerName" type="BusinessNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of partner</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Name of partner person -->
						<xsd:element name="PartnerPersonNm" type="PersonNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of partner person</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>

				</xsd:sequence>
				<xsd:sequence>

					<!-- Corporation EIN -->
					<xsd:element name="CorporationEIN" type="EINType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Corporation EIN</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<!-- Name of corporation -->
					<xsd:element name="CorporationName" type="BusinessNameType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Name of corporation</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

					<xsd:choice minOccurs="0">
						<!-- Shareholder EIN -->
						<xsd:element name="ShareholderEIN" type="EINType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Shareholder EIN</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Shareholder SSN -->
						<xsd:element name="ShareholderSSN" type="SSNType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Shareholder SSN</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>

					<xsd:choice minOccurs="0">
						<!-- Name of shareholder -->
						<xsd:element name="ShareholderName" type="BusinessNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of shareholder</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Name of shareholder person -->
						<xsd:element name="ShareholderPersonNm" type="PersonNameType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of shareholder person</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>

				</xsd:sequence>
			</xsd:choice>
			
			<!-- Schedule 1 -->
			<xsd:element name="HighTaxedIncomeSch1Grp" type="HighTaxedIncomeSch1GrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Schedule 1</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Schedule 2 -->
			<xsd:element name="HighTaxedIncomeSch2Grp" type="HighTaxedIncomeSch2GrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Schedule 2</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for HighTaxedIncomeSch1Grp -->
	<xsd:complexType name="HighTaxedIncomeSch1GrpType">
		<xsd:sequence>
		
			<!-- Passive income subject to withholding tax of 15% or more -->
			<xsd:element name="PassiveIncmWH15PctOrMoreGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to withholding tax of 15% or more</Description>
						<LineNumber>A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income subject to withholding tax of less than 15% but greater than zero -->
			<xsd:element name="PassiveIncmWHLessThan15PctGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to withholding tax of less than 15% but greater than zero</Description>
						<LineNumber>B</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income not subject to any foreign tax -->
			<xsd:element name="PassiveIncmNotSubjFrgnTaxGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income not subject to any foreign tax</Description>
						<LineNumber>C</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income subject to no withholding tax, but subject to other foreign tax -->
			<xsd:element name="PassiveIncmNoWHOthFrgnTaxGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to no withholding tax, but subject to other foreign tax</Description>
						<LineNumber>D</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for HighTaxedIncomeSch2Grp -->
	<xsd:complexType name="HighTaxedIncomeSch2GrpType">
		<xsd:sequence>
		
			<!-- Foreign Qualified Business Unit (QBU) Name -->
			<xsd:element name="ForeignQBUName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Qualified Business Unit (QBU) Name</Description>
						<LineNumber>A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income subject to withholding tax of 15% or more -->
			<xsd:element name="PassiveIncmWH15PctOrMoreGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to withholding tax of 15% or more</Description>
						<LineNumber>B</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income subject to withholding tax of less than 15% but greater than zero -->
			<xsd:element name="PassiveIncmWHLessThan15PctGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to withholding tax of less than 15% but greater than zero</Description>
						<LineNumber>C</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income not subject to any foreign tax -->
			<xsd:element name="PassiveIncmNotSubjFrgnTaxGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income not subject to any foreign tax</Description>
						<LineNumber>D</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Passive income subject to no withholding tax, but subject to other foreign tax -->
			<xsd:element name="PassiveIncmNoWHOthFrgnTaxGrp" type="SchK2K3PassiveIncomeGrpType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive income subject to no withholding tax, but subject to other foreign tax</Description>
						<LineNumber>E</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for PassiveIncmWH15PctOrMoreGrp, PassiveIncmWHLessThan15PctGrp, PassiveIncmNotSubjFrgnTaxGrp, PassiveIncmNoWHOthFrgnTaxGrp
PassiveIncmWH15PctOrMoreGrp, PassiveIncmWHLessThan15PctGrp, PassiveIncmNotSubjFrgnTaxGrp, and PassiveIncmNoWHOthFrgnTaxGrp	-->
	<xsd:complexType name="SchK2K3PassiveIncomeGrpType">
		<xsd:sequence>
		
			<!-- Passive Income Net of Allocable Expenses -->
			<xsd:element name="PssvIncmNetAllcblExpnssAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive Income Net of Allocable Expenses</Description>
						<LineNumber>I</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Taxes -->
			<xsd:element name="TaxesAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes</Description>
						<LineNumber>II</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
